@import "colours.css";
@import "typography.css";

body {
    background-color: var(--black);
}

.hidden {
    display:none;
}

.draggable {
    position: absolute;
    z-index: 0;
    filter: drop-shadow( 0 0 20px #c7c7c732);
    transition: filter 500ms ease;
}

.draggable:hover {
    cursor: url(/img/main/inpect.png), auto !important
}

.game-container {
    position: absolute;
    height: 1080px;
    width: 1920px;
    overflow: hidden;
    background-color: var(--white);
    z-index: -10;
    cursor: url(/img/main/neutral.png), auto !important
}

.table {
    position: absolute;
    height: 950px;
    width: inherit;
    background-image: url(/img/main/table.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: 0;
}

.clock {
    position: absolute;
    height: 595px;
    width: 595px;
    background-image: url(/img/main/clock.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 3%;
    top: -35%;
    transition: all 250ms ease 200ms;
    z-index: 0;
}

.clock + .shadow {
    height: 614px;
    width: 614px;
    position: absolute;
    z-index: -1;
    background-image: url(/img/main/s-clock.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 4%;
    top: -33%;
    transition: all 250ms ease 200ms;
}

.clock:hover {
    left: 10%;
    top: 0%;
    z-index: 100;
    filter: drop-shadow(0 0 500px #4b415767);
    cursor: url(/img/main/inpect.png), auto !important
}


.calendar {
    position: absolute;
    height: 730px;
    width: 934px;
    background-image: url(/img/main/calendar.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: 11%;
    top: -50%;
    transition: all 250ms ease 200ms;
    z-index: 0;
}

.calendar + .shadow {
    height: 750px;
    width: 946px;
    position: relative;
    top: -100%;
    z-index: -1;    
    background-image: url(/img/main/s-calendar.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -49%;
    right: -42%;
    transition: all 250ms ease 200ms;
}

.calendar:hover {
    right: 15%;
    top: -5%;
    z-index: 100;
    filter: drop-shadow(0 0 500px #4b415767);
    cursor: url(/img/main/inpect.png), auto !important;
}


.clock:hover + .shadow,
.calendar:hover + .shadow {
    opacity: 0;
 }

.draggable.manilla {
    height: 707px;
    width: 1131px;
    left: 9%;
    top: 12%;
}

.draggable .manilla {
    position: relative;
    background-image: url(/img/main/manilla.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    height: inherit;
    width: inherit;
}

.manilla + .shadow {
    height: 729px;
    width: 1152px;
    position: relative;
    top: -100%;
    z-index: -1;
    background-image : url(/img/main/s-manilla.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.draggable.archive {
    height: 633px;
    width: 487px;
    left: 11%;
    top: 13%;
}

.draggable .archive {
    position: relative;
    background-image: url(/img/main/archive.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    height: inherit;
    width: inherit;
}

.archive + .shadow {
    height: 654px;
    width: 508px;
    position: relative;
    top: -100%;
    z-index: -1;
    background-image : url(/img/main/s-archive.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.draggable.sighting {
    height: 623px;
    width: 474px;
    top: 17%;
    right: 35%;
}

.draggable .sighting {
    position: relative;
    background-image: url(/img/main/sighting.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    height: inherit;
    width: inherit;
}
.sighting + .shadow {
    height: 643px;
    width: 495px;
    position: relative;
    top: -100%;
    z-index: -1;
    background-image : url(/img/main/s-sighting.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.draggable.stamper {
    width: 144px;
    height: 246px;
}

.draggable .stamper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: inherit;
}
.stamper + .shadow {
    height: 267px;
    width: 135px;
    position: relative;
    z-index: -1;
    left: 7px;
    top: -89%;
    background: url(/img/main/s-stamp.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stamper.real {
    right: 20%;
    top: 27%;
}

.stamper.fake {
    right: 7%;
    top: 19%;
}

.stamp {
    z-index: 3;
    height: 246px;
    width: 144px;
    background-image: url(/img/main/stamp.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.green, 
.red {
    position: relative;
    display: inline-block;
    height: 55px;
    width: 137px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 89%;
}

.green {
    background-image: url(/img/main/g-stamp.png);
}

.red {
    background-image: url(/img/main/r-stamp.png);
}

